<html>
<head>
</head>
<body>


{{username}}'s Pending Requests
</br>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<table>
	<th>Following</th>
	<th>Requested by</th>
	<th>Status</th>

{% for line in connections %}
	<tr>
		<td>{{line.followee}}</td>
		<td>{{line.follower}}</td>
		<td>
			{% if line.followStatus == 1 %}
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Retract Follow" />
				</form>
	    {% else %}
				<form action="/approvefollow" method="POST">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Approve" />
				</form>
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Reject" />
				</form>
	    {% endif %}

		</td>
	</tr>
{% endfor %}
</table>
</br>

Other people
<ul>
{% for line in otherUsers %}
	<li><form action="/follow" method="POST">
		<p>{{line.username}}</p>
		<input type="hidden" name="followee" value="{{line.username}}">
		<input type="submit" value=Follow />
	</form></li>
{% endfor %}
</ul>

{{username}}'s Sent Requests
<table>
	<th>Following</th>
	<th>Requested by</th>
	<th>Status</th>

{% for line in following %}
	<tr>
		<td>{{line.followee}}</td>
		<td>{{line.follower}}</td>
		<td>
			{% if line.followStatus == 1 %}
				They have accepted
	    {% else %}
	      Pending on their acceptance
	    {% endif %}

		</td>
	</tr>
{% endfor %}
</table>



<!-- {% for line in user_list %}
<input type="radio" name="poster" value={{line.username}}>{{line.username}}</input>
	</br>
{% endfor %}

<input type="submit" value="View Posts"> -->



<a href="/logout">Logout</a>

</body>


</html>
