{% extends "master.html" %}

{% block body %}
<main>

<h1>Pending Follow Requests</h1>
<ul class="requestList">
{% for line in connections %}
	<li class="followRequest">
		<h2 class="followRequest--username">{{line.follower}}</h2>
			{% if line.followStatus == 1 %}
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="followee" value="{{username}}">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Retract follow" />
				</form>
	    {% else %}
				<form action="/approvefollow" method="POST">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Approve" />
				</form>
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="followee" value="{{username}}">
					<input type="hidden" name="follower" value="{{line.follower}}">
					<input type="submit" value="Reject" />
				</form>
	    {% endif %}
	</li>
{% endfor %}
</ul>

<h1>People you may know</h1>
<ul class="requestList">
{% for line in otherUsers %}
	<li class="followRequest">
		<h2 class="followRequest--username">{{line.username}}</h2>
		<form action="/follow" method="POST">
			<input type="hidden" name="followee" value="{{line.username}}">
			<input type="submit" value=Follow />
		</form>
	</li>
{% endfor %}
</ul>

<h1>Following</h1>
<ul class="requestList">
{% for line in following %}
	<li class="followRequest">
		<h2 class="followRequest--username">{{line.followee}}</h2>
			{% if line.followStatus == 1 %}
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="followee" value="{{line.followee}}">
					<input type="hidden" name="follower" value="{{username}}">
					<input type="submit" value="Unfollow" />
				</form>
	    {% else %}
				<!-- <p class="followRequest--additionalInfo">
		      Pending on their acceptance
				</p> -->
				<form action="/rejectfollow" method="POST">
					<input type="hidden" name="followee" value="{{line.followee}}">
					<input type="hidden" name="follower" value="{{username}}">
					<input type="submit" value="Cancel request" />
				</form>
	    {% endif %}
	</li>
{% endfor %}
</ul>

</main>
{% endblock %}
