{% extends "master.html" %}

{% block body %}
<main>

	<form action="/newgroup" method="POST" class="postForm">
		<p><b>Create new group</b></p>
		<input type="text" name="groupName" placeholder="groupName" required/>
		<input type="text" name="description" placeholder="description"/>

		<p>Add members to new group</p>
		{% for line in availableUsers %}
			<label>
				<input type="checkbox" name="members" value="{{line.username}}"/>
				{{line.username}}
			</label>
		{% endfor %}

		<input type="submit" value=Create />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>

	<h1>{{username}}'s groups</h1>
	{% for line in group_list %}
		<section class="post">
			<h2>{{line.groupName}}</h2>
			<ul>
				{% for member in memberList if member.groupName == line.groupName and member.groupCreator == line.groupCreator %}
					<li>
						{{member.username}}
						{% if member.username == line.groupCreator %}
						 (creator)
			    	{% endif %}
					</li>
				{% endfor %}
			</ul>

		</section>
	{% endfor %}

</main>

{% endblock %}
