{% extends "master.html" %}

{% block body %}
<main>
	<form action="/post" method="POST" class="postForm">
		<!-- <h1>{{username}}</h1> -->
		<input type="text" name="photo" placeholder="photo" required/> </br>
		<input type="text" name="caption" placeholder="Wutcha thinkin' about?" class="postForm--caption" required/> </br>
		<label>
			<input type="checkbox" name="followers" value="all">
			Share with all followers
		</label></br>
		<div id="postForm--groups">
		{% for line in groups %}
			<label>
				<input type="checkbox" name="followers" value="{{line.groupName}};{{line.groupCreator}}">
				{{line.groupName}}, {{line.groupCreator}}
			</label></br>
		{% endfor %}
		</div>
		<input type="submit" value=Post />
	</form>


	<a href="/connections">Connections</a> </br>
	<a href="/groups">Your Groups</a>

	<h1>Newsfeed</h1>
	{% for line in posts %}
		<section class="post">
			<h2 class="post--name">{{line.firstName}} {{line.lastName}}</h2>
			<p class="post--image"><b>{{line.pID}}</b> {{line.filePath}}</p>
			<summary>
				<b>{{line.firstName}} {{line.lastName}}</b> {{line.caption}}
			</summary>
			<p>
				{{line.postingDate}}
			</p>
			<!-- <td>{{line.pID}}</td> -->

			<details>
				{% for react in reacts %}
				{% if react.pID == line.pID %}
					<p>
						<b>{{react.username}}</b> reacted with <i>{{react.emoji}}</i> emoji
						{% if react.comment %}
						, saying "{{react.comment}}" at {{react.reactionTime}}
						{% endif %}
					</p>
		    {% endif %}
				{% endfor %}
			</details>

			<form action="/react" method="POST" class="comments">
				<input type="hidden" name="pID" value="{{line.pID}}">
				<div class="reactions">
				  <label class="reactions--label">
						<input type="radio" name="react" value="like">
						Like
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="love">
						Love
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="laugh">
						Laugh
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="wow">
						Wow
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="sad">
						Sad
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="angry">
						Angry
					</label>
				</div>
				<input type="text" name="comment" placeholder="comment"/>
				<input type="submit" value=React />
			</form>
		</section>
	{% endfor %}
	</br>
	</br>
	</br>

</main>

{% endblock %}
