{% extends "master.html" %}

{% block body %}
<main>
	<form action="/post" method="POST" class="postForm" enctype=multipart/form-data>
		<!-- <h1>{{username}}</h1> -->
		<input type="file" name="photo"/>
		<input type="text" name="caption" placeholder="Write something..." class="postForm--caption" required/>
		<label>
			<input type="checkbox" name="followers" value="all" onclick="groupDisplay(this)">
			Share with all followers
		</label>
		<div id="postForm--groups">
			<p>Share with groups:</p>
			{% for line in groups %}
				<label>
					<input type="checkbox" name="followers" value="{{line.groupName}};{{line.groupCreator}}">
					{{line.groupName}}, {{line.groupCreator}}
				</label>
			{% endfor %}
		</div>
		<input type="submit" value=Post />
	</form>

	<h1>Newsfeed</h1>
	{% for line in posts %}
		<section class="post">
			<h2 class="post--name">{{line.firstName}} {{line.lastName}}</h2>
			<!-- <p id="{{line.pID}}" class="post--image"><b>{{line.pID}}</b> {{line.filePath}}</p> -->
			<img id="{{line.pID}}" class="post--image" src="{{ url_for('uploads', filename=line.filePath) }}">
			<figcaption class="post--caption">
				<b>{{line.username}}</b> {{line.caption}}
			</figcaption>
			<time class="post--timestamp">
				{{line.postingDate}}
			</time>
			<!-- <td>{{line.pID}}</td> -->

			<details>
				<summary>Comments</summary>
				{% for react in reacts if react.pID == line.pID %}
					<p>
						<b>{{react.username}}</b> reacted {{react.emoji}}
						{% if react.comment %}
						, saying "{{react.comment}}"
						{% endif %}
						at {{react.reactionTime}}
					</p>
				{% endfor %}
			</details>

			<form action="/react" method="POST" class="comments">
				<input type="hidden" name="pID" value="{{line.pID}}">
				<div class="reactions">
				  <label class="reactions--label">
						<input type="radio" name="react" value="👍">
						👍
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="❤️">
						❤️
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="😂">
						😂
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="😯">
						😯
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="😢">
						😢
					</label>
				  <label class="reactions--label">
						<input type="radio" name="react" value="😠">
						😠
					</label>
				</div>
				<input type="text" name="comment" placeholder="comment"/>
				<input type="submit" value=Send />
			</form>
		</section>
	{% endfor %}

</main>
{% endblock %}


{% block footer %}
	<!-- javascript -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/groups.js') }}"></script>
{% endblock %}
